{% extends 'base.html.twig' %}

{% block title %}Création d'une tâche{% endblock title %}

{% block body %}

    <div class="container">

        <h1 class="mt-4">Creation d'une tâche</h1>
        {{form(form)}}

    </div>

{% endblock body %}