{% extends 'base.html.twig' %}

{% block title %}{{ "Modification d'une tâche"|trans }}{% endblock title %}

{% block body %}

    <div class="container">

        <h1 class="mt-4">{{ "Modification d'une tâche"|trans }}</h1>
        {{form(form)}}

    </div>

{% endblock body %}